<div class="castle-header">
  <h2><%= current_user.first_name %>'s Bookings</h2>

</div>
<!--
<div class="index-layout">
    <% @bookings.each do |booking| %>
      <%= link_to user_castle_booking_path(booking.user, booking.castle, booking) do %>
        <div class="castle-card-trip">
          <%= image_tag booking.castle.image, style: "width: 400px; height: 300px;", class: "castle-image" %>
          <i class="fa-regular fa-star toggle-star"></i>
          <div class="card-trip-infos">
            <div>
              <h3 class="castle-h3"></h3>
            </div>
            <p class="castle-p"><%= booking.castle.location %></p>
            <p class="castle-p">To: <%= booking.to%>, From: <%= booking.from%></p>
            <h5 class="card-trip-pricing castle-h5">$<%= booking.total_price %></h5>
          </div>
        </div>
      <% end %>
      </a>
    <% end %>
</div>
-->

<div class="bookings-container">
   <% @bookings.each do |booking| %>
    <%= link_to user_castle_booking_path(booking.user, booking.castle, booking) do %>
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <%= image_tag booking.castle.image, class: "img-fluid rounded-start"%>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= booking.castle.name %></h5>
            <p class="card-text overflow-ellipsis"><%= booking.castle.description %></p>
            <p class="card-text"><small class="text-muted"><%= (booking.to - booking.from).to_i.abs %> nights</small></p>
          </div>
        </div>
      </div>
      </div>
      <% end %>
   <% end %>
</div>
<%= render "castles/footer" %>
