
<h1>Book a new castle</h1>

<%= link_to "View All Castles", castles_path(@castle), class: "btn btn-flat" %>

<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Create a new castle listing</h3>
        <%= simple_form_for [current_user, @castle, @booking] do |f| %>
          <%= f.input :to, as: :date, input_html: { id: 'to-date' } %>
          <%= f.input :from, as: :date, input_html: { id: 'from-date' } %>
          <%= f.input :total_price, input_html: { id: 'total-price', readonly: true } %>
          <%= f.submit class: 'btn btn-flat' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render "castles/footer" %>



<%# <script>
  document.addEventListener('DOMContentLoaded', function() {
  // Get today's date
  var today = new Date();
  var dd = String(today.getDate()).padStart(2, '0');
  var mm = String(today.getMonth() + 1).padStart(2, '0'); // January is 0!
  var yyyy = today.getFullYear();

  // Set the minimum date attribute for the date inputs
  document.getElementById('to-date').setAttribute('min', yyyy + '-' + mm + '-' + dd);
  document.getElementById('from-date').setAttribute('min', yyyy + '-' + mm + '-' + dd);
});
</script> %>
