
<div class="booking-center">
  <div class="castle-header">
    <h3><%= current_user.first_name %>'s <%= @booking.castle.name %></h3>

     <%= link_to "View All Bookings", user_castle_bookings_path(current_user, @booking.castle.id), class: "btn btn-flat" %>
  </div>
</div>

<div class="booking-container">
    <%= image_tag @booking.castle.image, class: "card-img-top"%>
    <div class="card-body">
      <div class="card-title-head">
        <h5 class="card-title"><i class="fa-brands fa-fort-awesome"></i> <%=@booking.castle.name%></h5>
        <p class="card-text"><i class="fa-solid fa-location-dot"></i> <%=@booking.castle.location %></p>
      </div>
      <p class="card-text"><%=@booking.castle.description %></p>
      <p class="card-text"><i class="fa-solid fa-location-dot"></i> <%=@booking.castle.location %></p>
      <p class="card-text"><i class="fa-solid fa-dollar-sign"></i> <%=@booking.total_price %></p>
      <% if current_user.id == @castle.user_id && @booking.user_id != current_user.id %>
      <%= link_to "Approve", "#", class: "btn btn-success approve-booking", data: { confirm: "Are you sure you want to approve this booking?" } %>
      <%= link_to "Deny", "#", class: "btn btn-danger deny-booking", data: { confirm: "Are you sure you want to deny this booking?" } %>
      <% end %>
    </div>

<script>
  function doSomething() {
  document.querySelectorAll('.approve-booking').forEach(function(link) {
    link.addEventListener('click', function(event) {
      event.preventDefault();
      var confirmMessage = this.getAttribute('data-confirm');
      if (confirm(confirmMessage)) {
        var form = document.createElement('form');
        form.method = 'POST';
        form.action = '<%= user_castle_approve_booking_path(@booking.user, @booking.castle, @booking) %>';
        var csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        var csrfParam = document.querySelector('meta[name="csrf-param"]').getAttribute('content');
        var hiddenField = document.createElement('input');
        hiddenField.type = 'hidden';
        hiddenField.name = csrfParam;
        hiddenField.value = csrfToken;
        form.appendChild(hiddenField);
        document.body.appendChild(form);
        form.submit();

        window.location.href = '<%=  user_castle_bookings_path(@booking.user, @booking.castle, @booking) %>';
      }
    });
  });

  document.querySelectorAll('.deny-booking').forEach(function(link) {
    link.addEventListener('click', function(event) {
      event.preventDefault();
      var confirmMessage = this.getAttribute('data-confirm');
      if (confirm(confirmMessage)) {
        var form = document.createElement('form');
        form.method = 'POST';
        form.action = '<%= user_castle_deny_booking_path(@booking.user, @booking.castle, @booking) %>';
        var csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        var csrfParam = document.querySelector('meta[name="csrf-param"]').getAttribute('content');
        var hiddenField = document.createElement('input');
        hiddenField.type = 'hidden';
        hiddenField.name = csrfParam;
        hiddenField.value = csrfToken;
        form.appendChild(hiddenField);
        document.body.appendChild(form);
        form.submit();

        window.location.href = '<%=  user_castle_bookings_path(@booking.user, @booking.castle, @booking) %>';
      }
    });
  });
}

if (document.readyState === "loading") {
  // Loading hasn't finished yet
  document.addEventListener("DOMContentLoaded", doSomething);
} else {
  // `DOMContentLoaded` has already fired
  doSomething();
}

</script>
