
<div class="castle-center">
  <div class="castle-header">
    <h3><%= @booking.castle.name %></h3>

     <%= link_to "View All Bookings", user_castle_bookings_path(current_user, @booking.castle.id), class: "btn btn-flat" %>
  </div>


   <div class="castle-show-body">
    <%= image_tag url_for(@booking.castle.image), style: "width: 600px; height: auto;", class: "castle-image" %>

    <div class="card-trip-infos">
      <div>
        <h2><%= @booking.castle.name %></h2>

        <p class="castle-p"><%= @booking.castle.description %></p>
        <h5><%= @booking.castle.location %></h5>
      </div>
    </div>
    <h5 class="card-trip-pricing">$<%= @booking.total_price %></h5>
  </div>

</div>
</div>
</div>
