
<div class="booking-center">
  <div class="castle-header">
    <h3><%= current_user.first_name.capitalize %>'s <%= @booking.castle.name %></h3>

    <% if current_user.id == @castle.user_id %>
      <%= link_to "View All Castles Bookings", user_castle_owner_bookings_path(current_user, current_user.castles), class: "btn btn-flat" %>
     <% else %>
      <%= link_to "View All Bookings", user_castle_bookings_path(current_user, @booking.castle.id), class: "btn btn-flat" %>
    <% end %>
  </div>
</div>

<div class="booking-container">
    <%= image_tag @booking.castle.image, class: "card-img-top"%>
    <div class="card-body">
      <div class="card-title-head">
        <h5 class="card-title"><i class="fa-brands fa-fort-awesome"></i> <%=@booking.castle.name%></h5>
        <p class="card-text"><i class="fa-solid fa-location-dot"></i> <%=@booking.castle.location %></p>
      </div>
      <p class="card-text"><%=@booking.castle.description %></p>
      <div class="card-title-head border-bottom">
        <h3 class="card-text">Check In</h3>
        <h3 class="card-text">Check Out</h3>
      </div>
      <div class="card-text-date">
        <p class="card-text"><%= @booking.from.strftime('%d %B %Y') %></p>
        <p class="card-text"><%= @booking.to.strftime('%d %B %Y') %></p>
      </div>
      <div class="card-title-head border-bottom">
        <h3 class="card-text">Total Cost</h3>
      </div>
      <div class="card-title-cost">
        <p class="card-text">
        <%= (@booking.to - @booking.from).to_i.abs %> nights X   <i class="fa-solid fa-dollar-sign"></i><%= @castle.price %>  =
        <i class="fa-solid fa-dollar-sign"></i><%=@booking.total_price %></p>

      <div class="approval">
      <% if @booking.approved && @current_user.id == @castle.user_id %>
        <span class="card-text p-2 border text-success bg-dark">You have approved this booking</span>
      <% elsif @booking.approved  %>
        <span class="card-text p-2 border text-success bg-dark">Your bookings has been approved. Pack your bags</span>
       <% elsif @booking.approved == false && @current_user.id == @castle.user_id %>
        <span class="card-text border text-danger bg-dark p-2">You have denied this booking</span>
      <% elsif @booking.approved == false %>
         <span class="card-text border text-danger bg-dark p-2">Your bookings has been denied.</span>
      <% elsif @booking.approved == nil %>
        <% if current_user.id == @castle.user_id && @owner_bookings %>
          <%= link_to "Approve", "#", class: "btn btn-success approve-booking", data: { confirm: "Are you sure you want to approve this booking?", action: user_castle_approve_booking_path(@booking.user, @booking.castle, @booking) } %>
          <%= link_to "Deny", "#", class: "btn btn-danger deny-booking", data: { confirm: "Are you sure you want to deny this booking?", action: user_castle_deny_booking_path(@booking.user, @booking.castle, @booking) } %>
        <% else %>
        <span class="card-text border border-secondary p-2 text-white-50 bg-dark"><strong>Pending approval ...</strong></span>
        <% end %>
      <% end %>
      </div>
      </div>

      <br>





  </div>
</div>

<%= render "castles/footer" %>

<script>
  function doSomething() {
    document.querySelectorAll('.approve-booking').forEach(function(link) {
    link.addEventListener('click', function(event) {
    event.preventDefault();
    var confirmMessage = this.getAttribute('data-confirm');
      if (confirm(confirmMessage)) {
        var form = document.createElement('form');
        form.method = 'POST';
        form.action = this.getAttribute('data-action');
        var csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        var csrfParam = document.querySelector('meta[name="csrf-param"]').getAttribute('content');
        var hiddenField = document.createElement('input');
        hiddenField.type = 'hidden';
        hiddenField.name = csrfParam;
        hiddenField.value = csrfToken;
        form.appendChild(hiddenField);
        document.body.appendChild(form);
        form.submit();


      }
    });
  });

  document.querySelectorAll('.deny-booking').forEach(function(link) {
    link.addEventListener('click', function(event) {
      event.preventDefault();
      var confirmMessage = this.getAttribute('data-confirm');
      if (confirm(confirmMessage)) {
        var form = document.createElement('form');
        form.method = 'POST';
        form.action = this.getAttribute('data-action');
        var csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        var csrfParam = document.querySelector('meta[name="csrf-param"]').getAttribute('content');
        var hiddenField = document.createElement('input');
        hiddenField.type = 'hidden';
        hiddenField.name = csrfParam;
        hiddenField.value = csrfToken;
        form.appendChild(hiddenField);
        document.body.appendChild(form);
        form.submit();

      }
    });
  });
}

if (document.readyState === "loading") {
  // Loading hasn't finished yet
  document.addEventListener("DOMContentLoaded", doSomething);
} else {
  // `DOMContentLoaded` has already fired
  doSomething();
}
</script>
