<h1>Leave a review</h1>

<%= link_to "View All Castles", castles_path(@castle), class: "btn btn-flat" %>

<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Leave some feedback about this castle</h3>
        <%= simple_form_for [current_user, @castle, @booking, @review] do |f| %>
          <%= f.input :content, as: :text %>
          <%= f.input :rating, as: :float, placeholder: "Rating out of 5", input_html: { min: 0, max: 5, step: 0.1 } %>
          <%= f.hidden_field :booking_id, value: @booking.id %>
          <%= f.submit class: 'btn btn-flat' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render "castles/footer" %>

<script>
  $(document).on('input', 'input[type="number"]', function() {
    var max = parseFloat($(this).attr('max'));
    if ($(this).val() > max) {
      $(this).val(max);
    }
  });
</script>
