<%= render "castles/navbar" %>

<div class="index-header">
  <h1>Castles</h1>

  <%= link_to "Home", root_path, class: "btn btn-flat" %>
  <%= link_to "New Castle", new_castle_path, class: "btn btn-flat" %>
</div>


<div class="index-layout">
    <% @castles.each do |castle| %>
      <%= link_to castle_path(castle) do %>
        <div class="card-trip">
          <%= image_tag castle.image, style: "width: 400px; height: auto;", class: "castle-image" %>
          <div class="card-trip-infos">
            <div>
              <h3><%= castle.name %></h3>
            </div>
            <h5 class="card-trip-pricing">$<%= castle.price %></h5>
          </div>
        </div>
      <% end %>
      </a>
    <% end %>
</div>

<%= render "castles/footer" %>
