<%= render "castles/navbar" %>

<h1>Castles</h1>

<%= link_to("Home", root_path, class: "btn btn-gradient") %>

<ul>
  <% @castles.each do |castle| %>
  <div class="cards">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2><%= castle.name %></h2>
      <p><%= castle.description %></p>
    </div>
    <h2 class="card-trip-pricing">$<%= castle.price %></h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
    <li><%= link_to castle.name, castle_path(castle) %>
    </li>
  <% end %>
</ul>
<%# <div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Breakfast
  </div> %>
