<div class="castle-header">
  <h1>Castles</h1>

  <%= form_with(url: castles_path, method: "get", local: true) do |form| %>
  <%= form.text_field :query, placeholder: "Search by name or location" %>
  <%= form.submit "Search" %>
  <% end %>

  <%= link_to "Home", root_path, class: "btn btn-flat" %>
  <% if user_signed_in? %>
    <%= link_to "New Castle",  new_user_castle_path(current_user), class: "btn btn-flat" %>
  <% end %>
</div>


<div class="index-layout">
    <% @castles.each do |castle| %>
      <%= link_to castle_path(castle) do %>
        <div class="castle-card-trip">
          <%= image_tag castle.image, style: "width: 400px; height: 300px;", class: "castle-image" %>
          <% if user_signed_in?  && current_user.favourites.exists?(castle_id: castle.id) %>
          <!-- Show the filled star icon if the castle is favorited -->
            <i class="fas fa-star toggle-star" data-id="<%= castle.id %>"></i>
          <% else %>
          <!-- Show the empty star icon if the castle is not favorited -->
            <i class="far fa-star toggle-star" data-id="<%= castle.id %>"></i>
          <% end %>
          <div class="card-trip-infos">
            <div>
              <h3 class="castle-h3"><%= castle.name %></h3>
            </div>
            <p class="castle-p"><i class="fa-solid fa-location-dot logo-margin-right"></i><%= castle.location %></p>
            <h5 class="card-trip-pricing castle-h5">$<%= castle.price %></h5>
          </div>
        </div>
      <% end %>
      </a>
    <% end %>
</div>

<div class="map-container">
  <div class="map" style="width: 600px; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>



<%= render "castles/footer" %>
