

<h1>Add new castle</h1>

<%# <%= link_to("Home", root_path, class: "btn btn-flat") %>
<%= link_to "View All Castles", castles_path(@castle), class: "btn btn-flat btn-new" %>

<div class="container py-5 form-center">
      <div class="bg-white rounded p-3 shadow form-style form-new-castle">
        <h3>Create a new castle listing</h3>
        <%= simple_form_for [@user, @castle] do |f| %>
          <%= f.input :name, placeholder: 'Camelot' %>
          <%= f.input :location, placeholder: "55 Paris st France", input_html: {data:
              {address_autocomplete_target: "address"}},
              wrapper_html: {data: {controller: "address-autocomplete",
              address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} %>
          <%= f.input :price, placeholder: '10000' %>
          <%= f.input :description, placeholder: 'An old fashioned, medievil style castle' %>
          <%= f.input :image, placeholder: 'image.jpg' %>
          <%= f.submit class: 'btn btn-flat' %>
        <% end %>
      </div>
    <div class="form-bottom"></div>
</div>

<%= render "castles/footer" %>
