<%= render "castles/navbar" %>

<div class="castle-center">
  <div class="castle-show-title">
    <h1><%= @castle.name %></h1>

    <%= link_to("Home", root_path, class: "btn btn-gradient") %>
    <%= link_to "Edit Castle", edit_castle_path, class: "btn btn-gradient" %>

    <h4>Book this castle!</h4>
  </div>

  <div class="castle-show-body">
    <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg", style: "width: 600px; height: auto;", class: "castle-image" %>
    <div class="card-trip-infos">
      <div>
        <h2><%= @castle.name %></h2>
        <p><%= @castle.description %></p>
      </div>
      <h5 class="card-trip-pricing">$<%= @castle.price %></h5>
    </div>
  </div>
</div>

<%= render "castles/footer" %>
