<div class="castle-center">
  <div class="castle-header show-header">
  <br class="show-br">
    <h1 class="show-h1"><%= @castle.name %></h1>

    <%= link_to "View All Castles", user_castles_path(@castle), class: "btn btn-flat btn-show-left-margin" %>
    <% if user_signed_in?  %>

      <% if current_user.id == @castle.user_id %>
        <%= link_to "Edit Castle",  edit_user_castle_path(@castle), class: "btn btn-flat" %>
        <%= link_to "Delete Castle", user_castle_path(current_user, @castle),  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-flat" %>
      <% end %>
      <% if current_user.id != @castle.user_id %>
        <%= link_to "Book this Castle", new_user_castle_booking_path(current_user, @castle), class: 'btn btn-flat' %>
      <% end %>
    <% end %>
  </div>
  <br class="show-br">

  <div class="castle-show-body">
    <span><%= image_tag url_for(@castle.image), style: "width: 100%; height: auto;", class: "castle-image" %></span>

    <% if current_user.favourites.exists?(castle_id: @castle.id) %>
      <%= link_to "Unfavorite",  user_castle_favourite_path(current_user, @castle), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger btn-favourites btn-show-left-margin" %>
    <% else %>
      <%= link_to "Favorite", user_castle_favourites_path(current_user, @castle), data: {turbo_method: :post, turbo_confirm: "Are you sure?"}, class: "btn btn-flat btn-favourite btn-show-left-margin" %>
    <% end %>

    <div class="card-trip-infos">
      <div>
        <h2><%= @castle.name %></h2>

        <p class="castle-p"><%= @castle.description %></p>
        <p class="castle-p"><i class="fa-solid fa-location-dot logo-margin-right"></i><%= @castle.location %></p>
      </div>
    </div>
    <h5 class="card-trip-pricing castle-h5">$<%= @castle.price %></h5>
  </div>
</div>

<div class="reviews">
  <div class="reviews-header">
    <h2>Reviews</h2>
    <% capped_average_rating = [@castle.average_rating, 5].min %>
    <div class="star-rating" data-rating="<%= capped_average_rating %>">
      <h3>Average Rating: </h3>
      <% (1..5).each do |i| %>
        <% if i <= capped_average_rating %>
          <i class="fa-solid fa-star star active"></i>
        <% else %>
          <i class="fa-solid fa-star star"></i>
        <% end %>
      <% end %>
    </div>


<% if current_user.bookings.exists? %>
  <%= link_to "Leave a review", new_user_castle_booking_review_path(user_id: current_user.id, castle_id: @castle.id, booking_id: @bookings.first.id), class: 'btn btn-flat' %>
  <!-- Display other booking details as needed -->
<% end %>

  <div class="reviews-body">
    <% @castle.reviews.each do |review| %>
      <div class="review-card">
        <h6><%= review.user.first_name %></h6>
        <p><%= review.content %></p>
        <div class="card-rating">
        <div class="star-rating" data-rating="<%= review.rating %>">
          <% (1..5).each do |i| %>
            <% if i <= review.rating %>
              <i class="fa-solid fa-star star active"></i>
            <% else %>
              <i class="fa-solid fa-star star"></i>
            <% end %>
          <% end %>
        </div>
        <% capped_rating = [review.rating, 5].min %>
        <h6>Rating: <%= capped_rating %></h6>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render "castles/footer" %>


<script>
  $(document).on('click', '.star-rating .star', function() {
    var rating = $(this).data('value');
    $(this).closest('.star-rating').find('.star').removeClass('active');
    $(this).prevAll('.star').addBack().addClass('active');
  });
  $(document).ready(function() {
    $('.btn-favourite').on('click', function(e) {
      e.preventDefault();
      var id = $(this).data('id');
      var action = $(this).data('action');
      var button = $(this); // Store reference to the button

      console.log("Button clicked! Action:", action);

      var url = $(this).attr('href');

      $.ajax({
        type: 'POST',
        url: url,
        headers: {
          'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
        },
        data: { id: id },
        success: function(response) {
          // Your success handler code
         window.location.reload();
        },
        error: function(xhr, status, error) {
          // Your error handler code
        }
      });
    });
  });

  $(document).ready(function() {
    $('.btn-favourites').on('click', function(e) {
      e.preventDefault();
      var id = $(this).data('id');
      var action = $(this).data('action');
      var button = $(this); // Store reference to the button

      console.log("Button clicked! Action:", action);

      var url = $(this).attr('href');

      $.ajax({
        type: 'DELETE',
        url: url,
        headers: {
          'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
        },
        data: { id: id },
        success: function(response) {
          // Your success handler code
          window.location.reload();
        },
        error: function(xhr, status, error) {
          // Your error handler code
        }
      });
    });
  });
</script>



<!--
<script>
$(document).ready(function() {
  $('.btn-favourite').on('click', function(e) {
    e.preventDefault();
    var id = $(this).data('id');
    var action = $(this).data('action');
    var button = $(this); // Store reference to the button

    var url = $(this).attr('href');

    $.ajax({
      type: 'POST',
      url: url,
      headers: {
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      },
      data: { id: id },
      success: function(response) {
        // Update button text and action
        button.text('Unfavorite');
        button.removeClass('btn-favourite').addClass('btn-favourites');
        button.data('action', 'unfavorite');

        // Update button click handler
        button.off('click');
        button.on('click', function(e) {
          unfavoriteCastle(e, id, url);
        });
      },
      error: function(xhr, status, error) {
        // Your error handler code
      }
    });
  });

  $('.btn-favourites').on('click', function(e) {
    e.preventDefault();
    var id = $(this).data('id');
    var action = $(this).data('action');
    var url = $(this).attr('href');

    unfavoriteCastle(e, id, url);
  });

  function unfavoriteCastle(e, id, url) {
    $.ajax({
      type: 'DELETE',
      url: url,
      headers: {
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      },
      data: { id: id },
      success: function(response) {
        // Update button text and action
        $('.btn-favourites').text('Favorite');
        $('.btn-favourites').removeClass('btn-favourites').addClass('btn-favourite');
        $('.btn-favourite').data('action', 'favorite');

        // Update button click handler
        $('.btn-favourite').off('click');
        $('.btn-favourite').on('click', function(e) {
          favoriteCastle(e, id, url);
        });
      },
      error: function(xhr, status, error) {
        // Your error handler code
      }
    });
  }
});
</script>
-->
