<%= render "castles/navbar" %>

<div class="castle-center">
  <div class="castle-header">
    <h1><%= @castle.name %></h1>

    <%= link_to("Home", root_path, class: "btn btn-flat") %>
    <%= link_to "Edit Castle", edit_castle_path, class: "btn btn-flat" %>

    <h4>Book this castle!</h4>
  </div>

  <div class="castle-show-body">
    <%= image_tag url_for(@castle.image), style: "width: 600px; height: auto;", class: "castle-image" %>
    <div class="card-trip-infos">
      <div>
        <h2><%= @castle.name %></h2>
        <p><%= @castle.description %></p>
      </div>
      <h5 class="card-trip-pricing">$<%= @castle.price %></h5>
    </div>
    <h5 class="card-trip-pricing">$<%= @castle.price %></h5>
  </div>
</div>
